{
    "SVC_ID": "Vigia-MP",
    "Description": "Carga de datos para llevar a cabo el modelo predictivo basado en la herramienta VIGIA",
    "host": "0.0.0.0",
    "port": 20237,
    "Version": "1.0",
    "log_path": "C:/tmp/logs/VIGIA",
    "file_download_path" : "D:/microservices/VIGIA_PRED/resultados/VIGIA_PREDICTIVO",
    "dsn" : {
        "VIGIA": {
            "DIALECT": "mssql",
            "SQL_DRIVER" : "pyodbc",
            "USERNAME" : "VigiaWriter",
            "PASSWORD" : "VigiaWriter$",
            "HOST" : "10.132.26.33",
            "PORT": 1433,
            "CATALOG": "VIGIA",
            "query" : {
                "driver": "ODBC+Driver+17+for+SQL+Server",
                "Encrypt": "No",
                "MARS_Connection": "Yes"
            },
            "blocksize" : 100
        }
    
    }
}